function showDropDownValue() {
    //Dropdown value and text
    let dropdown = document.getElementById("cars");
    let selectedDropDownValue = dropdown.value;
    let selectedDropDownText = dropdown.options[dropdown.selectedIndex].text;
  
    .demo {
        font-size: 25px; 
        color: red;
        background-color: yellow;
      }
      
      .heading-title {
        font-size: 40px !important;
      }
      
      .heading-title-2 {
        color: green;
        font-size: 60px;
      }