#body {
    background-size: cover;
    background-image: stretch;
}


     #title {
        position:relative;
        height:130px;
        width:100%;
        background-position: center center;
        background-size:cover;
        left: 0;
        top:0;
        z-index: -999;
        background: url("./Pokedex_h1.png") no-repeat;
        color: #009dff;
        text-align: center;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 105px;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px;
    }
    
    

#content-box {
    width: 500px;
    height: 500px;
    border: 10px solid lightgrey;
    border-radius: 10px;

    display: flex;
    margin: 0 auto;
    margin-top: 60px;

    background: url("./pokdex.jpeg") no-repeat;
    background-size: cover;
    
}

#pokemon-info {
    width: 250px;
    height: 500px;
    text-align: center;
}

#pokemon-list {
    width: 250px;
    height: 500px;
    font-size: 18px;
    overflow-y: auto;
}

.pokemon-name {
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    margin: 5px;
    padding: 5px;

}

#PokedexInfo {
    color: #aaaaaa;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    justify-items: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
font-weight: bold;
padding: 10px;
}

#Secondprompt {
    color: #aaaaaa;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    justify-items: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
font-weight: bold;
padding: 10px;
}

#pokemon-info img {
    width: 160px;
    height: 160px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(211, 81, 81);
}

#pokemon-types {
    margin-top: 10px;
}

.type-box {
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}


.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}

#pokemon-description {
    width: 230px;
    height: 100px;
    background-color: rgb(211, 81, 81);
    border: 4px solid black;
    border-radius: 10px;

    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 18px;
    overflow-y: auto;
}